BeautifulSoup==3.2.1
click==6.6
Django==1.9.2
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-model-utils==2.4
django-pipeline==1.6.5
django-profiles==0.2
django-taggit==0.20.2
djangorestframework==3.3.3
MarkupSafe==0.23
mechanize==0.2.5
numpy==1.11.1
ordereddict==1.1
psycopg2==2.6.1
python-dateutil==2.4.2
python-dotenv==0.4.0
pytz==2016.4
requests==2.9.1
six==1.10.0
sqlparse==0.1.19
